[Unit]
Description=sACN Scene Recorder
After=networking.service
Requires=networking.service

[Service]
Type=simple
#User=scenklocka
#Group=scenklocka
ExecStart=/usr/local/bin/sacn-scene-recorder
StandardInput=tty-force
StandardError=journal
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
